__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/


.ipynb_checkpoints/


airflow/logs/
airflow/__pycache__/
airflow/dags/__pycache__/


mlflow.db
mlflow.db.*
mlartifacts/
mlartifacts.bak/
mlartifacts.bak2/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db


.env
.env.*
!.env.example



result.xml